body {
    background-color: green;
}
.box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align:left;
}
.purple-box {
    padding: 10px 20px 10px 20px;
}
.red-box {
    background-color: red;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5px;
    padding-left: 50px;
}
.black-text {
    color:black;
}
    #grey-text
      }
        [type='checkbox'] {
            margin: 10px 0px 15px 0px;
        }
        #cat-photo-form {
            background-color: thistle;
            <!--# is used in fornt of ID names when styling-->
        }
        .red-text {
            color:red;
            font-family:lobster, monospace;
        }
        h1 {
            font-size:40px;
            font-family: cursive;
        }
        .smaller-image {
            width: 200px;
            border-color: red;
            border-width: 5px;
            border-style: double;
            Border-radius: 50%;
        }
        .white-background {
            background-color: white;
        }
