body {
    background-color: green;
}
.box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align:left;
}
.purple-box {
    padding: 10px 20px 10px 20px;
}
.red-box {
    background-color: red;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5px;
    padding-left: 50px;
    margin: 20px 50px 20px 50px;
}
.black-text {
    color:black;
}
[type='checkbox'] {
    margin: 10px 0px 15px 0px;
}
#cat-photo-form {
    background-color: thistle;
}
.red-text {
    color:red;
    font-family:lobster, monospace;
}
h1 {
    font-size:40px;
    font-family: cursive;
}
.smaller-image {
    width: 200px;
    border-color: red;
    border-width: 5px;
    border-style: double;
    border-radius: 50%;
}
.white-background {
    background-color: white;
}
